<header class="header">
  <div class="header-container">
    <div class="logo-section">
      <div class="logo">
        <img src="/logo/jobaptly-high-resolution-logo-transparent.png" alt="Jobaptly Logo" class="header-logo">
      </div>
    </div>
    
    <nav class="navigation">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/upload" class="nav-link">Upload Resume</a>
        </li>
        <li class="nav-item">
          <a routerLink="/swipe" class="nav-link">Swipe Jobs</a>
        </li>
        <li class="nav-item">
          <a routerLink="/jobs" class="nav-link">Job List</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
